yfinance==1.2.0
pandas==2.3.3
numpy==1.26.4
gymnasium==1.0.0
stable-baselines3[extra]==2.4.1
PyPortfolioOpt==1.6.0
pyfolio-reloaded==0.9.9
empyrical-reloaded==0.5.12
matplotlib==3.9.4
seaborn==0.13.2
scipy==1.13.1
